[Unit]
Description=Nixie Service
After=multi-user.target
[Service]
Type=idle
User=root
ExecStart=/usr/bin/python3 /root/Git/nixie/nixie.py
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target