[Unit]
Description=Webhook Service for Nixie Project
After=multi-user.target
[Service]
Type=idle
User=root
ExecStart=/usr/bin/python3 /home/pi/git/nixie/services/webhook/webhook.py
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target